
.headerColour {
  background-color: #464159;
}

.newTaskTitle {
  color: #FDDB3A;
  font-size: large;
  }

  .searchBar {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color:#C7F0DB;
      font-size: large;
      padding: 5px;
      }
  