/* css for app */


.container {
  background-color: #464159;
}

/* css for Header */

.headerColour {
  background-color: #464159;
}

.date {
  color: #c7f0db;
  font-size: medium;
  padding-top: 15px;
}

.signInAndGreeting {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #c7f0db;
  font-size: medium;
  padding-top: 15px;
}

.searchBar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #c7f0db;
  font-size: large;
  padding-top: 15px;
}

.todoTitle {
  color: #fddb3a;
  font-size: xxx-large;
  padding-top: 10px;
  padding-bottom: 15px;
}


/* css for AddTask */

.addTaskColour {
  background-color: #464159;
  color: #fddb3a;
  padding-top: 10px;
  padding-bottom: 10px;
}

.newTaskTitle {
  color: #fddb3a;
  font-size: large;
}

.input-group-append {
  color: #fddb3a;
  align: right;
}

.btn-group {
  align: right;
}

input[type=text] {
  background-color: #8bbabb;
}

.placeholderColour {
  color: #fddb3a;
}

/* css for TaskCount */
.listTitleBar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fddb3a;
  font-size: large;
  background-color: #6c7b95;
  padding-top: 5px; 
  padding-bottom: 5px;
}

.listTitle {
  font-size: x-large;
  text-align: left;
  text-decoration: solid;
  margin: 0px;
  padding: 0px;
}

.taskCount {
  font-size: x-large;
  text-align: left;
  text-decoration: solid;
  margin: 0px;
  padding: 0px;
  text-align: right;
}

/* css for TaskList */

.taskBoxes {
  padding: 5px;
}

.taskText {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #464159;
  font-size: large;
  background-color: #8bbabb;
}



/* css for Tasks */


.taskText {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #464159;
  font-size: large;
  background-color: #8bbabb;
  padding: 0;
}

.btn-secondary {
  color: #464159;
  font-size: small;
  background-color: #8bbabb;
  padding: 1;
}

.taskBox {
  background-color: #8bbabb;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.taskButtons {
  background-color: #8bbabb;
}

.completedTask {
  color: #c7f0db;
}



/* css for Footer */
.footerText {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #c7f0db;
  font-size: 10px;
  padding: 10px 10px 10px 10px;
  background-color: #464159;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}